.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.p-card {
  width: 500px;
  height: 400px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.card-header {
  background-color: #f5f5f5;
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.card-body {
  padding: 20px;
  overflow-y: auto;
}

.scrollable-content {
  max-height: calc(100% - 20px);
}
